<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenxuan.net">

    <application android:allowBackup="true">

        <provider
            android:name=".NetContentProvider"
            android:authorities="${applicationId}.init_net"
            android:exported="false" />
    </application>
</manifest>