<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenxuan.business">

    <application android:allowBackup="true">

        <activity android:name="com.chenxuan.business.ui.MainActivity" />
        <activity android:name="com.chenxuan.business.ui.ScanActivity" />
        <activity android:name="com.chenxuan.business.ui.WidgetActivity" />
    </application>

</manifest>